@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities{
  h1{
    @apply text-8xl
  }
  h2{
    @apply text-7xl
  }
  h3{
    @apply text-6xl
  }
  h4{
    @apply text-5xl
  }
  h5{
    @apply text-4xl
  }
  h6{
    @apply text-3xl
  }
  p{
    @apply text-lg
  }
  button{
    @apply border-2 border-black font-medium px-3 py-1 rounded-sm
  }
  .container{
    @apply mx-auto;
  }
  .border-4{
    @apply border-black;
  }
}


.link{
  @apply text-lg font-medium text-gray-900/70 hover:text-gray-900 duration-300
}

.link-active{
  @apply text-lg font-medium text-gray-900 duration-300 underline underline-offset-8 decoration-4 decoration-gray-900/70
}


.service-card{
  @apply ring-4 ring-gray-900/10 pt-3 basis-[21rem]  min-h-[20rem] rounded-2xl space-y-2;
}

.service-card h6{
  @apply text-center text-gray-900/90 font-medium;
}

.service-card img{
  @apply h-48 w-full rounded-sm object-cover mx-auto
}

.service-card>p{
  @apply px-2 relative text-gray-900/80 text-justify
}

.service-card>p>span{
  @apply inline-block absolute right-4 font-medium text-gray-900 text-[1.2rem]
}

.service-card>button{
  @apply w-full py-2 rounded-b-2xl rounded-t-sm border-0 bg-gray-900/90 hover:bg-gray-900 duration-200 text-white text-xl
}

.icon{
  @apply h-8 text-gray-900/90 inline-block mr-2
}